/* Navbar */
.navbar-brand {
    position: relative;
  }
  
  #logo {
    width: 50px;
  }
  
  #moviestar-title {
    color: #FFF;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
  }
  
  #main-navbar {
    background-color: #202020;
  }
  
  #search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
  }
  
  #search-form .form-control {
    border: none;
    width: 90%;
    box-shadow: none;
  }
  
  #navbar {
    min-width: 30%;
  }
  
  .navbar-nav {
    justify-content: flex-end;
    width: 100%;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #FFF;
    transition: .5s;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffc84b
  }

  .bold {
    font-weight: bold;
  }


/* HOME */

  #main-container {
    background-color: #050505;
    color: #FFF;
    min-height: 100vh;
    padding: 40px;
  }


  
  /* Footer */
#footer {
    background-color: #202020;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  #social-container ul,
  #footer-links-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  #social-container li,
  #footer-links-container li {
    display: inline-block;
    margin: 0 20px;
  }
  
  #social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
  }
  
  #social-container li:hover {
    background-color: #ffc84b;
  }
  
  #social-container a,
  #footer-links-container a {
    color: #FFF;
    transition: .5s;
  }

  #footer-links-container a:hover {
    color: #ffc84b;
  }
  
  #social-container li i {
    font-size: 25px;
  }
  
  #footer-links-container {
    margin: 30px 0;
  }