/* Navbar */
.navbar-brand {
    position: relative;
  }
  
  #logo {
    width: 50px;
  }
  
  #moviestar-title {
    color: #FFF;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
  }
  
  #main-navbar {
    background-color: #202020;
  }
  
  #search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
  }
  
  #search-form .form-control {
    border: none;
    width: 90%;
    box-shadow: none;
  }
  
  #navbar {
    min-width: 30%;
  }
  
  .navbar-nav {
    justify-content: flex-end;
    width: 100%;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #FFF;
    transition: .5s;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffc84b
  }

  .bold {
    font-weight: bold;
  }

  /* Mensagem de Notficacao */
  .msg-container {
    background-color: #050505;
    padding: 15px;
  }
  
  .msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #050505;
    text-align: center;
  }
  
  .msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
  }
  
  .msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
  }


/* HOME */

  #main-container {
    background-color: #050505;
    color: #FFF;
    min-height: 100vh;
    padding: 40px;
  }

/* Edit Profile */
#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #ffc84b;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin-left: 120px;
}

.profile {
  margin-left: 550px;
}

.page-description {
  color: #999;
}

#bio {
  max-width: 400px;
}

.form-control.disabled {
  background-color: #BBB;
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn,
#review-form .card-btn,
#edit-movie-form .card-btn {
  width: auto;
}

/* Profile */
.profile-container {
  justify-content: center;
}

.profile-container .profile-image {
  margin: 20px auto;
}

.about-title {
  color: #CCC;
}

.profile-description {
  max-width: 500px;
  margin: 20px auto;
}

.added-movies-container,
.about-container {
  padding-top: 20px;
}

.about-container {
  text-align: center;
  background-color: #333;
  border-bottom: 3px solid #CCC;
}

.added-movies-container {
  background-color: #333;
}

.added-movies-container .movies-container {
  padding: 20px;
}

.added-movies-container .movie-card {
  width: 31%;
}

/* New Movie */
.new-movie-container {
  text-align: center;
}

#add-movie-form {
  text-align: left;
}

.movie-image-container {
  height: 400px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.page-title:after {
  content: "";
  width: 300px;
  border-bottom: 2px solid #F5C518;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* Login / Register */
#auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  border-bottom: 2px solid #ffc84b;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
}

.card-btn {
  color: #000;
  background-color: #ffc84b;
  border: 2px solid #ffc84b;
  width: 100%;
  transition: .5s;
}

.card-btn:hover {
  background-color: #F5C518;
  border-color: #F5C518;
}
  
  /* Footer */
#footer {
    background-color: #202020;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  #social-container ul,
  #footer-links-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  #social-container li,
  #footer-links-container li {
    display: inline-block;
    margin: 0 20px;
  }
  
  #social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
  }
  
  #social-container li:hover {
    background-color: #ffc84b;
  }
  
  #social-container a,
  #footer-links-container a {
    color: #FFF;
    transition: .5s;
  }

  #footer-links-container a:hover {
    color: #ffc84b;
  }
  
  #social-container li i {
    font-size: 25px;
  }
  
  #footer-links-container {
    margin: 30px 0;
  }